* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("/img/icons/logo.png");
    background-repeat: repeat;
    background-size: 60px;
    background-color: rgba(0, 0, 0, 0.815);
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    height: 300px;
    width: 100%;
    background: #880301c1;
    color: white;
    z-index: 1000;
    padding-top: 60px;

}

.nav {
    position: fixed;
    top: 0px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap; 
    padding: 5px;
    width: 100%;
    height: auto;
    background: rgb(6,47,79);
    background: radial-gradient(circle, rgba(6,47,79) 10%, rgba(0,3,4,0.4976190305223652) 20%, rgba(6,47,79,1) 59%, rgba(0,0,0,0.5004201509705445) 82%, rgba(6,47,79,1) 89%); 
    color: white;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1500;
}

.nav img{
    height: 50px;
    align-self: center;
}

.nav a{
    position: relative;
    align-self: center;
    text-align: center;
    width: auto;
    
}

.container-start-nav {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    text-align: center;
    align-items: center;

}

.container-end-nav {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;
}

.btn-nav{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: auto;
    text-align: center;
}

.boder-purple { 
    border: 2px #9400ff solid;
    border-radius: 1px;
}

.main {
    position: relative;
    align-self: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    width: 80%;
    height: 100%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    color: white;
    background: rgb(6,47,79);
    padding: 5px;
}



/*
Black: #000000
Ink: #062f4f
posy: 813772
embers: 882601
gray: 

**/