* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("/img/icons/logo.png");
    background-repeat: repeat;
    background-size: 60px;
    background-color: rgba(0, 34, 60, 0.7);
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    height: auto;
    width: 100%;
    background: #880301e4;
    color: white;
    z-index: 1000;
    padding: 30px;

}

.container-center-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.container-center-header img{
    width: 200px;
    margin-top: 75px;
}

.btn-header {
    display: inline-block;
    text-decoration: none;
    color: #9400ff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-justify: center;
    margin: 10px;
    padding: 10px;
}

.btn-header:hover {
    color:white;
    background-color:#9400ff;
}

.nav {
    position: fixed;
    top: 0px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap; 
    padding: 5px;
    width: 100%;
    height: auto;
    background: rgb(6,47,79);
    background: radial-gradient(circle, rgba(6,47,79) 10%, rgba(0,3,4,0.4976190305223652) 20%, rgba(6,47,79,1) 59%, rgba(0,0,0,0.5004201509705445) 82%, rgba(6,47,79,1) 89%); 
    color: white;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1500;
}

.nav img{
    height: 50px;
    align-self: center;
}

.nav a{
    position: relative;
    align-self: center;
    text-align: center;
    width: auto;
    
}

.container-start-nav {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;

}

.container-end-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-nav{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: auto;
    text-align: center;
}

.boder-purple { 
    border: 2px #9400ff solid;
    border-radius: 1px;
}

.main {
    display: flex;
    flex-wrap: wrap; 
    align-self: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.950);
    color: white;
    padding: 10px;
    width: 80%;
    height: auto;
    text-align: center;
}

.container-main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 100%;
    height: auto;
    color: white;
}

.item-container-main{
    width: 250px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.item-container-main img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    color: white;
    background: rgb(6,47,79);
    padding: 10px;
}


.divBusca{
    background-color: black;
    color: white;
    border:solid 1px;
    border-radius:15px;
    width:500px;
}

.divBusca img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}


.txtBusca{
    color: white;
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:40px;
    width: 450px;
}

/*
Black: #000000
Ink: #062f4f
posy: 813772
embers: 882601
gray: 

**/